.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f1e8;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 40px;
}

.login-form-wrapper {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 25vw;
}

.login-form-wrapper h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  color: #333;
  font-size: 22px;
}

.form-group {
  margin-bottom: 80px;
  width: 100%;
  border: 1px solid  rgb(223, 223, 223);
}

.form-group input {
  background-color: white;
  color: black;
}

.form-group input:focus {
  outline: none;
  border-color: #555;
  width: 100%;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #555;
}

.login-register-link {
  text-align: center;
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

.login-register-link a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.login-register-link a:hover {
  color: #555;
}

.error-message {
  color: #d32f2f;
  padding: 0.75rem;
  background-color: #ffebee;
  border-radius: 4px;
}
